DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_client_id
GUILD_ID=your_guild_id
ADVENTURER_ROLE_NAME=冒険者
RPG_CATEGORY_NAME=RPG：旅路
ADMIN_ROLE_NAME=管理者
RESCUE_CHANNEL_NAME=rpg-救難要請
RAID_CHANNEL_NAME=rpg-レイド募集
REPORT_CHANNEL_NAME=rpg-戦果報告
